In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("AmesHousing.csv")

# Printing first 5 records of the dataset
print(df.head(5))

   Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0      1  526301100           20        RL         141.0     31770   Pave
1      2  526350040           20        RH          80.0     11622   Pave
2      3  526351010           20        RL          81.0     14267   Pave
3      4  526353030           20        RL          93.0     11160   Pave
4      5  527105010           60        RL          74.0     13830   Pave

  Alley Lot Shape Land Contour  ... Pool Area Pool QC  Fence Misc Feature  \
0   NaN       IR1          Lvl  ...         0     NaN    NaN          NaN
1   NaN       Reg          Lvl  ...         0     NaN  MnPrv          NaN
2   NaN       IR1          Lvl  ...         0     NaN    NaN         Gar2
3   NaN       Reg          Lvl  ...         0     NaN    NaN          NaN
4   NaN       IR1          Lvl  ...         0     NaN  MnPrv          NaN

  Misc Val Mo Sold Yr Sold Sale Type  Sale Condition  SalePrice
0        0       5    2010       WD           Normal     215000
1        0       6    2010       WD           Normal     105000
2    12500       6    2010       WD           Normal     172000
3        0       4    2010       WD           Normal     244000
4        0       3    2010       WD           Normal     189900

[5 rows x 82 columns]

In [2]:
# to check for which column has null values
df.isnull().sum()

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 82, dtype: int64

In [4]:
# Drop a column  if it has a large percentage of missing data (threshhold 0.7)
threshhold = 0.70
missing = df.isnull().mean()
print(missing)

df.drop(columns = missing[missing > threshhold].index, inplace=True)
print(df.head(5))

Order             0.000000
PID               0.000000
MS SubClass       0.000000
MS Zoning         0.000000
Lot Frontage      0.167235
                    ...
Mo Sold           0.000000
Yr Sold           0.000000
Sale Type         0.000000
Sale Condition    0.000000
SalePrice         0.000000
Length: 82, dtype: float64
   Order        PID  MS SubClass MS Zoning  Lot Frontage  Lot Area Street  \
0      1  526301100           20        RL         141.0     31770   Pave
1      2  526350040           20        RH          80.0     11622   Pave
2      3  526351010           20        RL          81.0     14267   Pave
3      4  526353030           20        RL          93.0     11160   Pave
4      5  527105010           60        RL          74.0     13830   Pave

  Lot Shape Land Contour Utilities  ... Enclosed Porch 3Ssn Porch  \
0       IR1          Lvl    AllPub  ...              0          0
1       Reg          Lvl    AllPub  ...              0          0
2       IR1          Lvl    AllPub  ...              0          0
3       Reg          Lvl    AllPub  ...              0          0
4       IR1          Lvl    AllPub  ...              0          0

  Screen Porch Pool Area Misc Val Mo Sold Yr Sold  Sale Type  Sale Condition  \
0            0         0        0       5    2010        WD           Normal
1          120         0        0       6    2010        WD           Normal
2            0         0    12500       6    2010        WD           Normal
3            0         0        0       4    2010        WD           Normal
4            0         0        0       3    2010        WD           Normal

   SalePrice
0     215000
1     105000
2     172000
3     244000
4     189900

[5 rows x 78 columns]

In [5]:
# drop rows with missing target values because they won't contribute to any learning
df.dropna(subset = ["SalePrice"], inplace=True)
df.isnull().sum()

Order               0
PID                 0
MS SubClass         0
MS Zoning           0
Lot Frontage      490
                 ...
Mo Sold             0
Yr Sold             0
Sale Type           0
Sale Condition      0
SalePrice           0
Length: 78, dtype: int64